{% extends "layout.html" %}
{% block title %} {{name}} {% endblock %}
{%block content%}

    {% block header %}
        <h1>{{domain}}</h1>
    {% endblock header %}
    {% block main %}
        <div style="padding-left:25px">
            <h3>The Team</h3>
            <div class="links">
                <p>We are two loquitos who nos conocimos en College, at The University of Central Florida. We like music and API's. 
                  Some of our common top artists are Bad Bunny, Sufjan Stevens, and El Alfa. 
                  Common beers we like are St. Bernardus Abt 12, Delerium Tremens, and Presidente. And We always lit for programming.
                </p>
                <p>
                We built this thang on Flask using the Spotify and Genius API's, video chats, Stacy's Pita Chips and Presidentes.                 
                </p>
                <p>submit your word cloud to us and we'll add them to our user submitted gallery!!</p>
            </div>
        </div>
        <div class="album py-5">
                  <div class="row">

                    <div class="col-md-3">
                      <div class="card mb-3 box-shadow">
                        <img class="card-img-top" src="{{ url_for('static',filename='images/adriel.png')}}" alt="Card image cap">
                        <div class="card-body teamcard">
                            <p>Adriel Mendez</p>
                          <p class="card-text" >This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a href="https://www.linkedin.com/in/adriel-mendez/">
                                            <img src="{{ url_for('static',filename='images/linkedin.png')}}" style="height:25px">
                                        </a>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a href="https://github.com/adriel315">
                                            <img src="{{ url_for('static',filename='images/github.png')}}" style="height:25px">
                                        </a>
                                    </button>
                                </div>
                          </div>
                        </div>
                      </div>{# end card div #}
                    </div>{# end column div #}

                    <div class="col-md-3">
                      <div class="card mb-3 box-shadow " style="border:1px solid rgb(40,40,40)">
                        <img class="card-img-top" src="{{ url_for('static',filename='images/marcos.png')}}" alt="Card image cap">
                        <div class="card-body teamcard">
                            <p> Marcos Montes de Oca</p>
                          <p class="card-text" >This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="https://www.linkedin.com/in/marcos-montes-de-oca-209239116/">
                                        <img src="{{ url_for('static',filename='images/linkedin.png')}}" style="height:25px">
                                    </a>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="https://github.com/MarcosMdo">
                                        <img src="{{ url_for('static',filename='images/github.png')}}" style="height:25px">
                                    </a>
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>{# end card div #}
                    </div>{# end column div #}

                    <div class="col-sm-6 col-md-6 ml-2 pl-2">
                        <h3 class="h3">{{ name }}</h3> 
                        <p> {{domain}} is a project created to allow users to create word clouds out of their spotify information. 
                          We decided to take advantage of most of the parameters provided to us and create a custom form for many options. 
                          We're music lovers who love to express our taste with our friends, so we decided to create this application after observing 
                          how large the quantity of data given by the Spotify API is. This also was an experimentation for us to experience deploying 
                          our own application to the public. We hope to continue to update this website to allow for more future customizations 
                          in hopes that people will enjoy using it. </p>
                          <p>
                            {{domain}} is not affiliated With Spotify or Genius.
                          </p>
                        <h3>Thanks to</h3>
                        <div class="links">
                            <a href="https://developer.spotify.com/documentation/web-api/">Spotify API</a><br>
                            <a href="https://docs.genius.com/">Genius API</a><br>
                            <a href="https://github.com/plamere/spotipy">Spotipy - By Paul Lamere</a><br>
                            <a href="https://github.com/amueller/word_cloud">Word Cloud - By Anreas Mueller</a><br>
                            <a href="https://salty-beach-42139.herokuapp.com/about"> Festify - By Rick Rieta and Tony Bui</a>
                        </div>       
                        
                    </div>
                  </div> {# end row div #}
                
              </div>
              <h3 ><a href="#demo" data-toggle="collapse" style="color:#363636; text-decoration: none">The MIT License</a></h3>
              <p id="demo" class="collapse" style="color:#363636" >
                    The wordcloud library is MIT licenced, but contains DroidSansMono.ttf, a true type font by Google, that is apache licensed. The font is by no means integral, and any other font can be used by setting the font_path variable when creating a WordCloud object.
                    <br><br>
                    Copyright (c) 2014 Paul Lamere
                    <br><br>
                    Permission is hereby granted, free of charge, to any person obtaining a copy
                    of this software and associated documentation files (the "Software"), to deal
                    in the Software without restriction, including without limitation the rights
                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                    copies of the Software, and to permit persons to whom the Software is
                    furnished to do so, subject to the following conditions:
                    <br><br>
                    The above copyright notice and this permission notice shall be included in
                    all copies or substantial portions of the Software.
                    <br><br>
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                    THE SOFTWARE.
                    <br><br>
              </p>
              
    {% endblock main %}

{% endblock content%}
