{% extends "layout.html" %}
{% block title %} {{name}} {% endblock %}
{%block content%}
    {% block header %}
            <h1 class="h1">{{ name }}</h1>
    {% endblock header %}
    {%- block main -%}
        {% if 'access_token' not in session %}
            <div>
                <h2 class="h2"> Welcome to SpotiCloud</h2>
                <h4> SpotiCloud is a project made to create Word Cloud art based off of a users Spotify Data.</h4>
                <h2 class="h2">login to see your personal Word Cloud</h2>
                <!-- <button type="button" class="spotifyButton">
                    <img id="spotifyIcon" src="{{ url_for('static',filename='images/spotifyIcon.png')}}">
                    <a href="{{ url_for('auth.login') }}">Login to Spotify</a>
                </button> -->
                <br>
                <a role="button" class="spotifyButton" id="spotifyHover" href="{{ url_for('auth.login') }}">
                    <img id="spotifyIcon" src="{{ url_for('static',filename='images/spotifyIcon.png')}}">Login to Spotify
                </a>
            </div>
        {% else %}
            <h2 class="h2"> Hello, 
            <img src="{{session['user_data']['images'][0]['url']}}" id="userImg"></img>
            {{session['user_data']['display_name']}}! </h2>
            <h2 class="h2"> Welcome to SpotiCloud</h2>
            <h4> SpotiCloud is a project made to create Word Cloud art based off of a users Spotify Data.</h4>
            <a href="{{ url_for('wordcloud.about') }}"> Want to learn more? </a><br>
            <a href="{{url_for('wordcloud.wordCloud')}}" class="btn btn-primary" role="button"> Generate Spoticloud </a>
            <a href="{{url_for('wordcloud.form')}}" class="btn btn-info" role="button"> Generate Custom Spoticloud </a>
            <br><br>
            <!-- {{ session['user_data'] }} -->
        {% endif %}
    {%- endblock main -%}

{% endblock %}