{% extends "layout.html" %}
{% block metas %}
    {# <meta id="image_url" data-name="{{image_url}}" >  #}  
    <!-- <meta id="image_url" data-name="{{image_url}}" >   
    <meta id="task_result" data-name="{{task_data}}">
    <meta id="image_src" data-name="{{ url_for('static', filename='uploads/' ) }}" > -->
{% endblock metas%}
{% block title %} {{name}} {% endblock %}

{%block content%}
    {% block header %}
        <h1 class="h1">{{ domain }}</h1>
    {% endblock header %}

    {%- block main -%}
        {% if 'access_token' not in session %}
            <div>
                <H1>{{page_name}}</H1>
                <h2 class="h2"> Welcome to SpotiCloud</h2>
                <h4> SpotiCloud is a project made to create Word Cloud art based off of a users Spotify Data.</h4>
                <h2 class="h2">login to see your personal Word Cloud</h2>
                <br>
                <a role="button" class="spotifyButton" id="spotifyHover" href="{{ url_for('auth.login') }}">
                    <img id="spotifyIcon" src="{{ url_for('static',filename='images/spotifyIcon.png')}}">Login to Spotify
                </a>
            </div>
        {% else %}
        {#<button id="genBtn">Click Me</button>

        <div id="overlay" onclick="off()"></div>#}
            
            <h2 class="h2"> Hello, 
            <img src="{{session['user_data']['images'][0]['url']}}" id="userImg">
            {{session['user_data']['display_name']}}! </h2>
            <h2 class="h2 mt-3"> Welcome to SpotiCloud</h2>
            <div class="ml-2">
                <h6 class="h6"> SpotiCloud is a project made to create Word Cloud art based off of a users Spotify Data.</h6>
                <a href="{{ url_for('wordcloud.about') }}" style="text-decoration: none" > Want to learn more? </a>
            </div>
            {% block cloudBtns %}
                {{super()}}
            {% endblock cloudBtns %} 
            {% block overlay %}
                {{super()}}
            {% endblock overlay%}
            
        {% endif %}
        <br><br>
            <h2>User Submitted Examples</h2>
            <br>
            <div class="gallery" id="gallery">
                {% for gallery_img in gallery_imgs %}
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="{{ url_for('static', filename='gallery/' + gallery_img ) }}">
                    </div>
                {% endfor %}
            </div>
    {%- endblock main -%}
{% endblock content %}