{% extends "layout.html" %}
{% block title %} {{name}} {% endblock %}

{%block content%}
    {% block header %}
        <h1 class="h1">{{ domain }}</h1>
    {% endblock header %}

    {%- block main -%}
        {% if 'access_token' not in session %}
            <div>
                <H1>{{name}}</H1>
                <h2 class="h2"> Welcome to SpotiCloud</h2>
                <h4> SpotiCloud is a project made to create Word Cloud art based off of a users Spotify Data.</h4>
                <h2 class="h2">login to see your personal Word Cloud</h2>
                <br>
                <a role="button" class="spotifyButton" id="spotifyHover" href="{{ url_for('auth.login') }}">
                    <img id="spotifyIcon" src="{{ url_for('static',filename='images/spotifyIcon.png')}}">Login to Spotify
                </a>
            </div>
        {% else %}
            <h2 class="h2"> Hello, 
            <img src="{{session['user_data']['images'][0]['url']}}" id="userImg"></img>
            {{session['user_data']['display_name']}}! </h2>
            <h2 class="h2 mt-3"> Welcome to SpotiCloud</h2>
            <div class="ml-2">
                <h6 class="h6"> SpotiCloud is a project made to create Word Cloud art based off of a users Spotify Data.</h6>
                <a href="{{ url_for('wordcloud.about') }}"> Want to learn more? </a>
            </div>
            <div class="row mt-4 pt-4">
                <div class="d-flex justify-content-md-center col-md-6">
                    <a href="{{url_for('wordcloud.wordCloud')}}" style="color:black" class="spotifyButton" id="spotifyHover" role="button"> Generate Random Spoticloud </a>
                </div>
                <div class="d-flex justify-content-md-center col-md-6">
                    <a href="{{url_for('wordcloud.form')}}" style="color:black" class="spotifyButton" id="spotifyHover" role="button"> Generate Custom Spoticloud </a>
                </div>
            </div>
            {% if image_url|length > 0 %}
                <div id="overlay" onclick="off()">
                        <div>
                        <div id="cloudImg">
                            <img id="cloudPreview"class="img-fluid" src="{{ url_for('static', filename='uploads/' + image_url ) }}">
                        </div>
                        <a class="spotifyButton overlay-btn" id="spotifyHover" role="button" href="{{url_for('wordcloud.clouds')}}">Go to your Cloud gallery</a>
                        </div>
                </div>
            {% endif %}
        {% endif %}
        <br><br>
            <h2>User Submitted Examples</h2>
            <br>
            <div class="gallery" id="gallery">
                {% for gallery_img in gallery_imgs %}
                    <div class="mb-3 pics animation all 1">
                        <img class="img-fluid" src="{{ url_for('static', filename='gallery/' + gallery_img ) }}">
                    </div>
                {% endfor %}
            </div>
    {%- endblock main -%}
{% endblock content %}

{% block scripts %}
    {{super()}}
    <script>
        $(document).ready(
        function () {
            document.getElementById("overlay").style.display = "block";
        })
        
        function off() {
            document.getElementById("overlay").style.display = "none";
        }
    </script>
{% endblock scripts %}