{% extends "bootstrap/base.html" %}
{% block meta %}<meta name="viewport" content="width=device-width, initial-scale=1"> {% endblock meta %}

{% block body %}
<div class="container">

    {% block navbar %}
            <nav class="navbar justify-content-end">
                <a class="nav-item nav-link" href="{{ url_for('wordcloud.home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('wordcloud.about') }}">About</a>
                <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </nav>
    {%- endblock navbar %}
    {% block header %}{%  endblock header %}

</div>
{% endblock body %}