{% extends "bootstrap/base.html" %}
{% block title %} {{name}} {% endblock %}
{% block navbar %}
<nav class="navbar flex-column">
        <a class="nav-item nav-link" href="{{ url_for('wordcloud.home') }}">Home</a>
        <a class="nav-item nav-link" href="{{ url_for('wordcloud.about') }}">About</a>
        <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>
</nav>
{% endblock %}
{%block content%}
<h1>{{name}}</h1>
    <button type="submit" class="alert-primary"><a href="{{ spot_link }}">login to Spotify</a></button>
{% endblock %}